<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="citizen"  class="com.nt.sbeans.CitizenVotingElgibilityChecking"  init-method="myInit" destroy-method="myDestroy">
        <property name="name"  value="raja"/> 
       <property name="age" value="20"/>
       <property name="addrs" value="hyd"/>
    </bean>

</beans>
